<%layout("/layouts/boilerplate")%>
<div class="row mt-3">
<div class="col-8 offset-2">
    <h3>Edit your Listing : </h3>
    <form 
    method="POST" 
    action="/listings/<%=listing._id%>?_method=PUT" 
    novalidate 
    class="needs-validation" 
    enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" class="form-control" type="text" name="listing[title]" value="<%=listing.title%>" required>
            <div class="invalid-feedback">Please provide a title.</div>
        </div>
        <div class="mb-3">
            Original Image:<br>
            <img src="<%=originalImageUrl%>" alt="">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input id="image" class="form-control" type="file" name="listing[image][url]">
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input id="price" class="form-control" type="number" name="listing[price]" value="<%=listing.price%>" required>
                <div class="invalid-feedback">Please provide a price.</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input id="country" class="form-control" type="text" name="listing[country]" value="<%=listing.country%>" required>
                <div class="invalid-feedback">Please provide a country.</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input id="location" class="form-control" type="text" name="listing[location]" value="<%=listing.location%>" required>
            <div class="invalid-feedback">Please provide a location.</div>
        </div>

        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br><br>
    </form>
</div>
</div>
